<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjkrndemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--TODO <数极客SDK> 启动圈选功能-->
            <intent-filter>
                <data android:scheme="sjk.1c7be246d5a051fb" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!--TODO <数极客SDK> 配置数极客 AppKey-->
        <meta-data
            android:name="SHUJIKE_APPKEY"
            android:value="1c7be246d5a051fb" />

        <!--TODO <数极客SDK> 配置数极客 ChannelId-->
        <meta-data
            android:name="SHUJIKE_CHANNEL"
            android:value="google play" />
    </application>

</manifest>
